/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --title-bg-color: #ff0070;
  --title-color: #000028;
  --text-color: #f1b2ce;
  --text-shadow: #ff0070;
  --btn-color: #ff0070;
  --btn-border-color: #32312d66;
  --main-font: "IBM Plex mono", sans-serif;
  --font-size: 1.125rem;
  --font-weight: 400;
  --line-height: 1.3;
  --header-footer-padding: 10px;
  --visibility: visible;
}
